# Postgres
POSTGRES_USER=finanzvisu
POSTGRES_PASSWORD=change-me
POSTGRES_DB=finanzvisu

# Prisma database connection
DATABASE_URL="postgresql://finanzvisu:change-me@localhost:5432/finanzvisu?schema=public"