.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
  font: var(--mat-sys-label-large);
  line-height: 1;
}

button.avatar {
  padding: 0;
  border: none;
  cursor: pointer;
}
