<mat-chip-listbox (change)="onTimeframeChange($event)" aria-label="select a timeframe">
  <mat-chip-option value="all" selected> All-time </mat-chip-option>
  <mat-chip-option value="year"> Last 365 days </mat-chip-option>
  <mat-chip-option value="month"> Last 30 days </mat-chip-option>
  <mat-chip-option value="week"> Last 7 days </mat-chip-option>
</mat-chip-listbox>

<div class="table-scroll">
  <table mat-table [dataSource]="rows()">
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>Rank</th>
      <td mat-cell *matCellDef="let portfolio; let i = index">
        @if (portfolio) {
          {{ i + 1 }}
        } @else {
          <span class="skeleton"></span>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="trader">
      <th mat-header-cell *matHeaderCellDef>Trader</th>
      <td mat-cell *matCellDef="let portfolio">
        @if (portfolio) {
          {{ portfolio.user.name }}
        } @else {
          <span class="skeleton"></span>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="return">
      <th mat-header-cell *matHeaderCellDef>Return</th>
      <td mat-cell *matCellDef="let portfolio">
        @if (portfolio) {
          <span
            [class.positive]="portfolio.performance >= 0"
            [class.negative]="portfolio.performance < 0"
          >
            {{ portfolio.performance | percent: "1.0-2" }}
          </span>
        } @else {
          <span class="skeleton"></span>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="invested">
      <th mat-header-cell *matHeaderCellDef>Capital Invested</th>
      <td mat-cell *matCellDef="let portfolio">
        @if (portfolio) {
          {{ portfolio.total_costs | currency: "USD" }}
        } @else {
          <span class="skeleton"></span>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="profit">
      <th mat-header-cell *matHeaderCellDef>Realized + Unrealized Profit</th>
      <td mat-cell *matCellDef="let portfolio">
        @if (portfolio) {
          <span
            [class.positive]="portfolio.total_gains >= 0"
            [class.negative]="portfolio.total_gains < 0"
          >
            {{ portfolio.total_gains | currency: "USD" }}
          </span>
        } @else {
          <span class="skeleton"></span>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
